html{
	height: 100%;
	font-family: 'Noto Serif', serif;
	overflow-x: hidden;
}
body{
  min-width: 320px;
  min-height: 100%;
  padding: @padding;
  overflow-x: hidden;
  background: url('../img/bg-blur.png') repeat;
}
main{
	width: 200%;
	.transformTransition(0.5s);
	> div{
		width: 50%;
		float: left;
	}
}
.post-template{
	main{
		.transformHW(translate(-50%, 0));
	}
}

.post-wrap,
.posts-wrap{
	overflow: hidden;
}

.post-wrap{
	max-height: 1px;
}
.posts-hidden .post-wrap{
	max-height: none;
}
.posts-hidden .posts-wrap{
	max-height: 1px;
}

.wrap{
	position: relative;
	z-index: 2;
  &:extend(.clearfix);
  min-height: 100%;
	height: auto!important;
	height: 100%;
}
//grid content
.make-grid-columns-float(s);
.make-grid(@grid-columns, s, width);

.gutter-right > *{
	margin-right: @padding;
}
.gutter-left > *{
	margin-left: @padding;
}
.gutter-top > *{
	margin-top: @padding;
}
.gutter-bottom > *{
	margin-bottom: @padding;
}

.overlay{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 100;
	display: block;
	background: black;
}