body{
  min-width: 320px;
  padding: @padding;
}
//grid content
.make-grid-columns-float(s);
.make-grid(@grid-columns, s, width);

.gutter-right > *{
	margin-right: @padding;
}
.gutter-left > *{
	margin-left: @padding;
}
.gutter-top > *{
	margin-top: @padding;
}
.gutter-bottom > *{
	margin-bottom: @padding;
}